@media (max-width: 480px) {

    #hero h1{
        font-size: 5rem;
    }
.hero-img-1{
    width: 150px;
    right: 0%;
    top: 15%;
}
.hero-img-4{
    width: 100px;
    top: 17%;
}
.hero-img-2{
    left: 0%;
    width: 200px;
    bottom: 8%;
}
.hero-img-3{
    width: 100px;
    bottom: 13%;
    right: 8%;
}

}
@media (max-width: 768px) and (min-width: 481px){
      #hero h1{
        font-size: 5rem;
    }
    
.hero-img-1{
    width: 200px;
    right: 0%;
    top: 15%;
}
.hero-img-4{
    width: 150px;
    top: 17%;
}
.hero-img-2{
    left: 0%;
    width: 250px;
    bottom: 8%;
}
.hero-img-3{
    width: 150px;
    bottom: 13%;
}

    
}
@media (max-width: 1024px) and (min-width: 769px){
     #hero h1{
        font-size: 10rem;
    }
    
.hero-img-1{
    width: 200px;
    right: 7%;
    top: 15%;
}
.hero-img-4{
    width: 150px;
    top: 15%;
    left: 7%;
}
.hero-img-2{
    left: 5%;
    width: 250px;
    bottom: 15%;
}
.hero-img-3{
    width: 150px;
    bottom: 15%;
    right: 7%;
}

}
@media (min-width: 1024px){
      #hero h1{
        font-size: 10rem;
    }
.hero-img-1{
    width: 350px;
    right: 7%;
    top: 15%;
}
.hero-img-4{
    width: 200px;
    top: 15%;
    left: 7%;
}
.hero-img-2{
    left: 5%;
    width: 400px;
    bottom: 15%;
}
.hero-img-3{
    width: 200px;
    bottom: 15%;
    right: 7%;
}
}
