@media (max-width: 480px) {

 html{
    font-size: var(--font-mb-text);
 }
 h1{
    font-size: var(--font-mb-title);
 }
 h2{

 }
}
@media (max-width: 768px) and (min-width: 481px){

 html{
    font-size: var(--font-mb-text);
 }
    
}
/*Medium Devices*/
@media (max-width: 1024px) and (min-width: 769px){

 html{
    font-size: var(--font-text);
 }
}

/*Large Device*/
@media (min-width: 1024px){
 html{
    font-size: var(--font-text);
 }

}
